.btn__add {
    margin: 10px 20px 30px 20px !important;
}
#content {
    max-width: 300px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}