.register {
    padding: 15px;
    .container {
        max-width: 95%;
    }
    .box > .title {
        font-size: 30px;
    }
    div.form {
        margin: 0;
        margin-top: -180px;        
        .text--or {
            margin: 20px 0;
        }
    }
    .footer .flex {
        @include flex(row, wrap, center);
        max-width: 80%;  
        margin-top: 10px;      
        li {
            margin: 5px;
        }
    }
    .footer__box > div {
        margin: 20px 0;
    }
}